html,
body {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  font-display: swap;
}

* {
  box-sizing: border-box;
  font-family: "NotoSans", sans-serif !important;
}

#root {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Sora", sans-serif !important;
  color: #fdfdfdef
}


@font-face {
    font-family: 'Sora';
    src: url("/fonts/Sora-Bold.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url("/fonts/Sora-SemiBold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url("/fonts/Sora-Regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Sora';
    src: url("/fonts/Sora-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url("/fonts/Noto-Sans-regular.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'NotoSans';
    src: url("/fonts/Noto-Sans-700.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@media (width <= 1024px) {
  .layout-padding {
    padding-right: 5%;
    padding-left: 5%;
  }
}
@media (width > 1024px) {
  .layout-padding {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (width >= 1280px) {
  .layout-padding {
    padding-right: 10%;
    padding-left: 10%;
  }
}

@media (width >= 1536px) {
  .layout-padding {
    padding-right: 20%;
    padding-left: 20%;
  }
}

.swiper-pagination-bullet-active {
  background: #B92177 !important;
}