<div
  class="layout-padding bg-[#141417] flex flex-col md:flex-row py-12 gap-6 text-white"
>
  <div class="flex flex-col">
    <img
      class="w-64"
      src="https://icazalaw.com/wp-content/uploads/2019/08/logo_wt-300x135.png"
      alt="Icaza image"
    />
    <p class="text-xxs text-white mt-6">
      Hemos estado brindando, durante más de un siglo, soluciones personalizadas
      y competentes a clientes corporativos, instituciones internacionales y
      entidades públicas, mientras seguimos comprometidos a ofrecer un servicio
      y asesoramiento legal individualizado liderado por nuestros socios a
      clientes privados.
    </p>
  </div>
  <div class="flex flex-col text-xxs">
    <h4 class="text-sm font-bold mb-6">Dirección</h4>
    <p class="text-xxs text-white mb-3">
      Calle Aquilino de la Guardia No. 8 Edificio IGRA, P.O. Box 0823-02435
      Panamá, República de Panamá
    </p>
    <p><span class="font-semibold">E-mail:</span> igranet@icazalaw.com</p>
    <p><span class="font-semibold">Teléfono:</span> +(507) 205-6000</p>
  </div>
  <div class="flex flex-col text-xxs">
    <h4 class="text-sm font-bold mb-6">Sitio Web</h4>
    <p>
      Inicio Sobre nosotros Expertos Áreas de Práctica Aviso de Privacidad
      Política de Protección de Datos Publicaciones Oficinas Contáctenos
    </p>
  </div>
  <div class="flex flex-col">
    <h4 class="text-sm font-bold mb-6">Pago Online</h4>
    <button class="p-4 border-1 w-32 text-xs bg-transparent hover:bg-secundary">PAGO EN LÍNEA</button>
    <p class="text-base text-white mt-4"> Suscríbete al Newsletter</p>
    <input class="bg-[#141417] border-1 p-2" placeholder="Correo electrónico" type="text">
    <button class="p-2  w-32 text-xs hover:border-1 bg-secundary hover:bg-transparent mt-4">SUSCRIBIR</button>
  </div>
</div>
