---
const textStyle = 'text-white tracking-wide'
---

<div class="layout-padding bg-[#3e403b] py-20 flex flex-col md:flex-row gap-20">
    <div class="w-full md:w-4/6 w-">
        <h3 class="text-4xl font-bold mb-8">Conoce nuestros expertos</h3>
        <div class=" space-y-5">
            <p class={textStyle}>Somos individuos con talentos, intereses y experticias específicas. Así como tú.</p>
            <p class={textStyle}>Por eso entendemos tu deseo de ser identificado, reconocido y valorado: en tus sueños, necesidades, emprendimientos y proyectos.</p>
            <p class={textStyle}>Este entendimiento crea confianza; y la confianza es el patrimonio de nuestro éxito legal. Y el tuyo, con nosotros.</p>
        </div>
        <h4 class="text-base font-semibold w-64 mt-6">CONOCIMIENTO LEGAL, ENTENDIMIENTO HUMANO</h4>
    </div>
    <div class="w-full md:w-4/12 flex relative justify-center items-center mt-10 md:mt-0">
        <div class="flex relative justify-center items-center">
            <img src="https://icazalaw.com/wp-content/uploads/2019/10/Domingo-Diaz-Strunz-300x330.jpg" alt="">
            <div class="bg-white text-secundary absolute my-auto mx-auto bottom-6 left-0 right-0 w-fit opacity-60 p-2">
                Domingo A. Díaz S.
            </div>
        </div>
    </div>
</div>